.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer; }
.sidebar button:hover {
  background-color: #bbb;
}
